.modal {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.description {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* width: 290px; */
}
/* .img {
  width: 290px;
} */
.icon {
  flex-shrink: 0; /* Заборона зменшення розміру іконки */
}
.textWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.imgContainer {
  position: relative;
}
.link {
  transition: color var(--animation-cubicBezier), background var(--animation-cubicBezier);
}
.link:active {
  background: linear-gradient(
    90deg,
    rgba(123, 51, 248, 1) 0%,
    rgba(187, 2, 232, 1) 13%,
    rgba(251, 0, 124, 1) 26%,
    rgba(255, 116, 3, 1) 39%,
    rgba(255, 203, 0, 1) 52%,
    rgba(255, 116, 3, 1) 65%,
    rgba(251, 0, 124, 1) 78%,
    rgba(187, 2, 232, 1) 89%,
    rgba(123, 51, 248, 1) 100%
  );
  border-radius: 2px;
  color: rgb(255, 255, 255);
}
@media (hover: hover) {
  .link:hover,
  .link:focus {
    background: linear-gradient(
      90deg,
      rgba(123, 51, 248, 1) 0%,
      rgba(187, 2, 232, 1) 13%,
      rgba(251, 0, 124, 1) 26%,
      rgba(255, 116, 3, 1) 39%,
      rgba(255, 203, 0, 1) 52%,
      rgba(255, 116, 3, 1) 65%,
      rgba(251, 0, 124, 1) 78%,
      rgba(187, 2, 232, 1) 89%,
      rgba(123, 51, 248, 1) 100%
    );
    border-radius: 2px;
    color: rgb(255, 255, 255);
  }
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 20px;
    gap: 10px;
    width: 500px;
  }
  .icon {
    height: 25px;
    width: 25px;
  }
  .img {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .description {
    font-size: 25px;
    gap: 13px;
    width: 650px;
  }
  .icon {
    height: 30px;
    width: 30px;
  }
  .img {
    width: 650px;
  }
}